{{#partial "styles"}}
    <link rel='stylesheet' href='/css/app.css'>
{{/partial}}

{{#partial "content"}}

    <div class="page-header">

        <h1>WILDLIFE TRACKER</h1>
    </div>

    <div class="button-all">
        <a class="btn btn-success btn-sm btn-block" href="/form">RECORD ANIMAL SIGHTING</a>

    </div>

{{/partial}}
{{>layout.hbs}}
